<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>miniMotto</title>

</head>

<body>
  <a href="/" role="button">Home</a>
  <a href="/logout" role="button">Logout</a>
  
  <a href="/userHomepage" role="button">userHomepage</a>
  
  </body>