<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>miniMotto</title>
  <h1>miniMotto Header</h1>

</head>

<body>
  <a href="/" role="button">Home</a>
  <a href="/logout" role="button">Logout</a>
  
  </body>