<%- include('partials/header') %>

<div class="home">
  <h2>Home Page / Register</h2>
  <div class="container">
    
    <a href="/register" role="button">Register</a>
    <a href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
