<%- include('partials/header') %>

<div class="submit">
  
    <p>Add a motto</p>

    <form action="/submit" method="POST">

      <div class="form-group">
        <input type="text" name="addAMotto" placeholder="What's your motto?">
      </div>
      <button type="submit" >Submit</button>
    </form>

</div>
<%- include('partials/footer') %>
