<%- include('partials/header') %>

<div class="loggedIn">
    
    <h1>Now Logged In</h1>

    <h1> Welcome <%= userData.username %> </h1>
    <h1> Previous Motto is:</h1>
    <h3> <%= userData.motto %> </h3>

   
</div>

<%- include('partials/footer') %>
